<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="menu" align=" center ">
        <div class="pure-menu home-menu pure-menu-horizontal">
            <span sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}" class="pure-menu-heading pure-menu-link">Userlist</a></span>
            <span sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users/add}" class="pure-menu-heading pure-menu-link">New user</a></span>
            <a th:href="@{/logout}" class="pure-menu-heading pure-menu-link">Logout</a>
        </div>
        <br />
    </div>
</body>
</html>